body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* Stylize */
    background-color: rgb(160, 222, 249);
    text-decoration-color: blueviolet;

    background-attachment: fixed;
    
}

canvas {
    display: block;
    margin: 0 auto;
    border: 1px solid black;
}

#titleImg {
    transition: opacity 0.5s ease;
}

#startButton {
    position: absolute;
    top: 57.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    font-size: 18px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
#playerSelectContainer {

    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
    position: absolute;


}
#selectDisplay {
    display: flex;
    flex-direction: row;
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
}
#cakeChooser, #dice {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
    position: absolute; /* Position absolutely relative to parent */
    
    /* top: 50%; Move to vertical center */
    /* left: 50%; Move to horizontal center */
    /* transform: translate(-50%, -50%); Adjust to true center */
    
  }

  #rollValue {
    transition: opacity 0.5s ease;
  }
  #rollValue.transitioning {
    opacity: 0;
  }

  .gallery-image {
    margin-right: 20px; 
    
    
  }

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    
}


footer {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    margin: 1em;
    padding: 1em;
    width: 60%;
    position: -webkit-sticky;
    bottom: 10%;
}
